* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "TTHovesR";
  src: url("/fonts/TT\ Hoves\ Pro\ Regular.ttf");
}

body {
  font-family: TTHovesR;
  /* background: rgb(246, 243, 243); */
}

a {
  color: inherit;
  text-decoration: none;
}

section:not(:first-child) {
  padding-top: 30px;
  padding-bottom: 30px;
}
